.SearchForm {
	width: 100%;
	margin: 30px auto;
}

.SearchForm label {
	display: block;
	text-align: center;
	width: 100%;
}

.SearchForm .btn-container {
	display: flex;
	justify-content: flex-end;
}

.SearchForm .btn-container .btn{
	margin: 0 10px;
}

.SearchForm .selects-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}

.SearchForm .selects-container .opt{
	flex: 30%;
	margin: 0 10px;
}