.ad{
	display: flex;
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid #e0e3e4;
	height: 200px;
    overflow: hidden;
}

.ad img{
	width: 300px;
	display: block;
}

.ad div{
	padding: 0 20px;
}

.ad h5{
	color: #465798;
}

.ad .delete {
	margin-left: 10px;
}

.advertisement {
	padding: 20px 0 20px;
}

.advertisement h5 {
	color: #465798;
}

.pag {
	display: flex;
	justify-content: space-between;
}